{% extends 'base.html' %}

{% block title %}
    {{ data.post['title'] }}
{% endblock %}

{% block header %}
  <ul class="breadcrumb">
      <li><a href="{{ url_for('blog.index') }}">Home</a></li>
      <li>{{ data.post['title'][0:30] }}..</li>
  </ul>
{% endblock %}

{% block content %}
    <!-- Article Section -->
    <article class="post">
      <header>
        <div>
          <h1>
              <a href="{{ url_for('blog.post_detail', id=data.post['id']) }}">
                {{ data.post['title'] }}
              </a>
          </h1>
          <div class="about">by {{ data.post['username'] }} on {{ data.post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] %}
          <a class="action" href="{{ url_for('blog.like_this_post', post_id=data.post['id']) }}">
            {% if not data.is_like %} Like! {% else %} Unlike! {% endif %}
          </a>
        {% endif %}
          <label style="background-color:red;color:white;padding:5px;">{{ data.likes_count }} likes</label>
        {% if g.user['id'] == data.post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=data.post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ data.post['body'] }}</p>
    </article>
    <!-- Comment Section -->
    <section>
        <hr/>
        <h3>{{ data.comment_count }} Comments</h3>
        <div class="comment" style="padding:20px;background-color:#f7f7f7;">
            {% for comment in data.comments %}
            <div class="comment-item" style="margin-bottom:30px;">
                <p><i><b>{{ comment.visitor }}</b></i> on {{ comment.created.strftime('%Y-%m-%d') }}</p>
                <p>{{ comment.comment }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Comment form Section -->
    <section>
        <hr/>
        <form method="post">
            <label for="name">Name</label>
            <input name="name" id="name" value="" required>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" required></textarea>
            <input type="submit" value="Send">
        </form>
    </section>

{% endblock %}